<div class="accordion mb-3" id="tableAccordionCprHistorik">
    <div class="card">
        <div class="card-header text-black" id="tableHeadingCprHistorik">
            <h2 class="mb-0">
                <button class="btn btn-block text-left text-black collapsed btn-header" type="button" data-toggle="collapse" data-target="#tableCollapseCprHistorik" aria-expanded="false" aria-controls="tableCollapseCprHistorik">
                    Cpr historik <i class="fa fa-chevron-down float-right" aria-hidden="true"></i>
                </button>
            </h2>
        </div>
        <div id="tableCollapseCprHistorik" class="collapse" aria-labelledby="tableHeadingCprHistorik" data-parent="#tableAccordionCprHistorik">
            <div class="card-body p-0">
                <table class="table mb-0 table-bordered bg-info">
                    <thead class="data-header">
                        <tr>
                            <th>CPR</th>
                            <th>Dato (fra/til)</th>
                        </tr>
                    </thead>
                    <tbody class="bg-light">
                        {% for cprnummer in data.Person.Personnumre %}
                        <tr>
                            <td>{{ cprnummer.Personnummer.personnummer }}</td>
                            {% if cprnummer.Personnummer.virkningTil is defined %}
                                <td>{{ cprnummer.Personnummer.virkningFra|date("m-d-Y") }} til {{ cprnummer.Personnummer.virkningTil|date("m-d-Y") }} </td>
                            {% else %}
                                <td>{{ cprnummer.Personnummer.virkningFra|date("m-d-Y") }}</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
